# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Segredos
.env
.env.*
!.env.example
*.pem
*.key

# Logs
*.log
logs/

# Node
node_modules/
dist/
build/
coverage/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# Java
target/
*.class

# PHP
vendor/

# DB local
*.sqlite
*.sqlite3
